OneWire/NodeRed.json
[{"id":"1bd81c70.716d8c","type":"ttn device","z":"77707e28.0fb798","name":"","app":"20bed7c7.c06a7","dev_id":"fablab-lopy-0002","event":"activations","x":164.1666259765625,"y":76.5,"wires":[["1af73eb7.8a26e1"]]},{"id":"1af73eb7.8a26e1","type":"debug","z":"77707e28.0fb798","name":"","active":false,"console":"false","complete":"true","x":377.16661071777344,"y":74.83332824707031,"wires":[]},{"id":"90672fe4.20aa68","type":"ttn message","z":"77707e28.0fb798","name":"","app":"20bed7c7.c06a7","dev_id":"","field":"","x":177.16661071777344,"y":141.0832977294922,"wires":[["1af73eb7.8a26e1","6a4a54ce.a22cdc"]]},{"id":"447f6547.c2c7bc","type":"debug","z":"77707e28.0fb798","name":"","active":true,"console":"false","complete":"true","x":607.1666107177734,"y":178.5832977294922,"wires":[]},{"id":"1065bc53.bc4d8c","type":"influxdb out","z":"77707e28.0fb798","influxdb":"db6d7ad2.0e951","name":"Push influxDB","measurement":"temperature","x":650.9091186523438,"y":265.6363525390625,"wires":[]},{"id":"6a4a54ce.a22cdc","type":"function","z":"77707e28.0fb798","name":"get temperature","func":"payload = msg.payload;\nsensors_qty = msg.payload.length/10;\nmsg.payload = [];\nmsg.sensor_qty = sensors_qty;\nfor(var i=0;i<sensors_qty;i++){\n    sensor_name = new Buffer(payload.slice(i*10,i*10+7)).toString('hex');\n    sensor_value = (payload[i*10+8]*256+payload[i*10+9])/100;\n    msg.payload.push(\n        [{\n            'value': sensor_value,\n            'timestamp': new Date(msg.metadata.time).getTime(),\n        },\n        {\n            'device': msg.dev_id,\n            'sensor': sensor_name\n        }])\n}\nreturn msg;","outputs":1,"noerr":0,"x":411.1666259765625,"y":180.5,"wires":[["447f6547.c2c7bc","1065bc53.bc4d8c"]]},{"id":"20bed7c7.c06a7","type":"ttn app","z":"","appId":"fablablannion-macareux-2017","region":"eu","accessKey":"ttn-account-v2.gwuZLqug4TeSaZ79j_npCcC4BjtKRCwpP1eadV6VSPQ"},{"id":"db6d7ad2.0e951","type":"influxdb","z":"","hostname":"192.168.128.150","port":"8086","protocol":"http","database":"iotdb","name":"","usetls":false,"tls":""}]
